@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h2 {
    text-transform: capitalize;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #495057;
}

ul {
    margin-bottom: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 25px;

    max-width: 900px;
    margin: auto;
}

.resume-basics {
    text-align: center;
}

.resume-objective {
    display: flex;
    justify-content: center;
}

.resume-objective-text {
    text-align: center;
}

.resume-skills-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.resume-skills-group-item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
}

.resume-experience {
    /* margin: 0 200px 0 200px; */
}

.resume-jobs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.resume-work {
    display: flex;
    flex-direction: column;
}

.resume-work-job {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.resume-work-title {
    display: flex;
    flex-direction: row;
}

.resume-work-company {
    font-weight: 800;
}

.resume-work-role {
}

.resume-date {
    font-weight: 300;
    font-size: 14px;
}

.resume-work-description {

}

.resume-work-summary {
    font-family: 'Roboto', serif;
}

.resume-highlight {
    font-family: 'Roboto', serif;
}

.job-link {
    font-family: 'Roboto', serif;
    text-decoration: none;
}
.job-link:hover {
    font-family: 'Roboto', serif;
    text-decoration: underline;
}

.resume-work-used {
    font-family: 'Alegreya';
    /* font-style: italic; */
}

.experience-logo {
    width: 100px;
    /* height: 64px; */

    position: absolute;
    margin-left: -150px;
    z-index: -10;
    opacity: 5%;
}

.resume-bullet-list-container {
    /* margin: 0 100px; */
}

hr {
    width: 200px;
    text-align: center;
    margin: 0 auto;
	color: #495057;
}


@media only screen and (max-width: 600px) {
    .resume-skills-group {
        flex-direction: column;
    }
}