<% if (resume.specialties.length > 0) { %>
<div class="resume-experience">

    <h2>Experience</h2>

    <div class="resume-jobs">

    <% resume.work.forEach(function(work, index) { %>

        <%- include('work', { work: work }); %>

        <% if (index != resume.work.length - 1) { %>
            <hr />
        <% } %>
        
    <% }); %>

    </div>

</div>
<% } %>
