<% if (resume.specialties.length > 0) { %>
<div class="resume-skills">

    <h2>Skills</h2>

    <div class="resume-bullet-list-container">
    <% resume.skills.forEach(function(skill) { %>
        <div>
            <i class="fa-solid fa-check"></i>
            <%= skill %>
        </div>
    <% }); %>
    </div>
</div>
<% } %>
