<% if (resume.specialties.length > 0) { %>
<div class="resume-skills">

    <h2>Skills</h2>

    <div class="resume-skill-area-list">
    <% resume.skills.forEach(function(skillArea) { %>
        <div class="resume-skill-area">
            <div class="resume-skill-area-name">
                <%= skillArea.area %>
            </div>

            <div class="resume-skills-container">
            <% skillArea.values.forEach(function(skill) { %>
                <div class="resume-skill-area-skill">
                    <%= skill %>
                </div>
            <% }); %>
            </div>
        </div>
    <% }); %>
    </div>
</div>
<% } %>
