<% if (resume.specialties.length > 0) { %>
<div class="resume-specialties">

    <h2>Specialties</h2>

    <div class="resume-bullet-list-container" >
        <% resume.specialties.forEach(function(specialty) { %>
            <div>
                <i class="fa-solid fa-check"></i>
                <%= specialty %>
            </div>
        <% }); %>
    </div>
</div>
<% } %>
