<% if (resume.specialties.length > 0) { %>
<div class="resume-specialties">

    <h2>Specialties</h2>

    <ul>
        <% resume.specialties.forEach(function(specialty) { %>
            <li>
                <%= specialty %>
            </li>
        <% }); %>
    </ul>
</div>
<% } %>
